{{ block title }}
    Game 1. Tournament or Piece-rate?
{{ endblock }}

{{ block content }}
<link rel="stylesheet" href="{{static 'css/css.css'}}">
<link rel="stylesheet" href="{{static 'css/modal.css'}}">
<script type="text/javascript" src="{{ static 'js/Script_modal.js' }}"></script>
<script type="text/javascript" src="{{ static 'js/data_quality.js' }}"></script>

    <p>
       Some text if you want. Player is in {{Treatment}}
    </p>

    <p>
     You have so far played 2 rounds of the task {{game1_name}} (pic below).
     This is the final round of this task.
      <strong>However</strong>, in this round you do not need to solve any more problems but choose whether you want to apply
      <strong>Piece-rate</strong> or the <strong>Tournament-rate</strong> to your round 1 score.
       If this round is the <strong>"Bonus-Relevant Round"</strong>, your bonus payment will be determined in the following way: 
            <ul>
                <li> If you choose to apply **Tournament-rate** to your round 1 score you will receive either: </li>
                <ul>
                    <li>1. **XXX** USD per your correctly solved problems in round 1, if in round 1 you solved more problems than any of the other 5 people in your group in that round.</li>
                    <li> 2. **0** USD if in round 1 anyone else in your group answered more problems correctly than you in this round.</li>
                <li> If you choose to apply **Piece-rate** to your round 1 score, you will receive **XXX** USD per problem you solved correctly in round 1. Your payment will not be influenced by the performance of others in your group.
                </li>
                </ul>
                
            </ul> 
        In round 1 of this task, you solved  **XXX** many problems. 
        Would you like to apply the **Piece-rate** or the **Tournament** payment scheme to this round?


    </p>

    {% for field in form %}
    {% if field.name not in hidden_fields %}
        {{ formfield field.name }}
    {% endif %}
    {% endfor %}

    <div>
        <img src="{{static Game_explanation_pic }}">     
    </div>




<div style="display:none">
    {% for field in form %}
        {% if field.name in hidden_fields %}
            {{ formfield field.name }}
        {% endif %}
    {% endfor %}
</div>
    <br><br>

    <div class="buttons-container">
        <a id="myBtn" onclick="open_modal(2)"  class="otree-btn-next btn btn-primary">Exit Survey (Return task)</a>
        <a id="myBtn" onclick="open_modal(1)"  class="otree-btn-next btn btn-primary">Instructions</a>
        <button id="NextButton" class="otree-btn-next btn btn-primary">Next</button>
    </div>
    
    
    <div id="myModal2" class="modal quit-modal">
      <div class="modal-content">
          <div class="modal-header">
            <h2>You are about to quit the study</h2>
          </div>
{{include C.Quit_study_text_path}}
        <div class="buttons-container">
            <a id="myBtn" onclick="span_click(2)"  class="otree-btn-next btn btn-primary">Cancel</a>
            <a href="{{C.Return_redirect}}" class="otree-btn-next btn btn-primary">OK</a>
      </div>
      </div>
    </div>
    
    <div id="myModal1" class="modal">
        <div class="modal-content">
            <div class="modal-header">
              <h2>Instructions</h2>
              <span class="close" onclick="span_click(1)">&times;</span>
            </div>
          <p style="padding: 0px">
         {{include C.Instructions_path}}
          </p>
        </div>
    </div>

    <br><br>
{{ endblock }}


