{{ block title }}
{{Game_title}}: Tournament or Piece-rate?
{{ endblock }}

{{ block content }}
<link rel="stylesheet" href="{{static 'css/css.css'}}">
<link rel="stylesheet" href="{{static 'css/modal.css'}}">
<script type="text/javascript" src="{{ static 'js/Script_modal.js' }}"></script>
<script type="text/javascript" src="{{ static 'js/data_quality.js' }}"></script>

<div class="card bg-light m-3">
    <div class="card-body">
        <p style="font-size: 28px; text-align: center;"><strong>Game 2. Example</strong></p>
        <img src="{{Game_explanation_pic }}" style="width: 870px;">     
    </div>
</div>
<strong></strong>
<p>
    You have so far played 2 rounds of the  <b>{{Game_title}}</b> with the example picture above.
    This is the final round of this game.
     <strong>However</strong>, in this round you do not need to solve any more problems but choose whether you want to apply the
     <strong>Piece-rate</strong> or the <strong>Tournament-rate</strong> payment scheme to your round 1 score. 
           
      <br><br>
      In round 1 of this game, <b>you solved {{Prev_Score}}</b> problem(s) correctly. This is the score for which you now choose the payment scheme.
      Would you like to apply the <b>Piece-rate</b> or the <b>Tournament-rate</b> payment scheme?
       Click <a id="myBtn" onclick="open_modal(3)"  class="otree-btn-next btn btn-primary">Here</a>
       to read about Tournament-rate vs Piece-rate again.
      
   </p>

    
    {% for field in form %}
    {% if field.name not in hidden_fields %}
        {{ formfield field.name }}
    {% endif %}
    {% endfor %}




<div style="display:none">
    {% for field in form %}
        {% if field.name in hidden_fields %}
            {{ formfield field.name }}
        {% endif %}
    {% endfor %}
</div>
    <br><br>

    <div class="buttons-container">
        <a id="myBtn" onclick="open_modal(2)"  class="otree-btn-next btn btn-primary">Quit Study (Return Task)</a>
        <a id="myBtn" onclick="open_modal(1)"  class="otree-btn-next btn btn-primary">Instructions</a>
        <button id="NextButton" class="otree-btn-next btn btn-primary">Next</button>
    </div>

    <div id="myModal3" class="modal">
        <div class="modal-content">
            <div class="modal-header">
              <h2>Piece-rate vs Tournament rate</h2>
              <span class="close" onclick="span_click(3)">&times;</span>
            </div>
          <p style="padding: 0px">
            If this round is the <strong>"bonus-relevant round"</strong>, your bonus payment will be determined in the following way: 
            <ol>
                <li> If you choose to apply the <strong>Tournament-rate</strong> scheme to your round 1 score, you will receive either: </li>
                <ul>
                    <li><strong>{{C.Tournament_rate}}</strong>$ per correctly solved problem in round 1, if in round 1 you solved more problems correctly than any of the other 5 people in your group in that round.
                    In case of two or more people having the same highest score, the winner is determined randomly.</li> 

                    <li><strong>0</strong>$ if in round 1 anyone else in your group answered more problems correctly than you in this round.</li>
                </ul>
                <li> If you choose to apply the <strong>Piece-rate</strong> scheme to your round 1 score, 
                    you will receive <strong>{{C.Piece_rate}}</strong>$ per problem you solved correctly in round 1.
                     Your payment will not be influenced by the performance of others in your group.</li>
                
                </ol> 
          </p>
        </div>
    </div>
    
    
    <div id="myModal2" class="modal quit-modal">
      <div class="modal-content">
          <div class="modal-header">
            <h2>You are about to quit the study</h2>
          </div>
        {{include C.Quit_study_text_path}}
        <div class="buttons-container">
            <a id="myBtn" onclick="span_click(2)"  class="otree-btn-next btn btn-primary">Cancel</a>
            <a href="{{C.Return_redirect}}" class="otree-btn-next btn btn-primary">OK</a>
      </div>
      </div>
    </div>
    
    <div id="myModal1" class="modal">
        <div class="modal-content">
            <div class="modal-header">
              <h2>Instructions</h2>
              <span class="close" onclick="span_click(1)">&times;</span>
            </div>
          <p style="padding: 0px">
         {{include C.Instructions_path}}
          </p>
        </div>
    </div>

    

    <br><br>
{{ endblock }}


